<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011402038484-sf2js9a20ok98gb5tll2b4mln9efgtvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011402038484-sf2js9a20ok98gb5tll2b4mln9efgtvl</string>
	<key>API_KEY</key>
	<string>AIzaSyDI_l-7KS-zcDl_8T9Ge9DOlBZXwZZS8tY</string>
	<key>GCM_SENDER_ID</key>
	<string>1011402038484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherForecast</string>
	<key>PROJECT_ID</key>
	<string>flutter-weather-app-e936d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-weather-app-e936d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011402038484:ios:3e96e857c31a564d616f41</string>
</dict>
</plist>